.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/********************************************************************/

.LoadingScreenBaseDiv{
  margin-top: 60px;
  min-width: 900px;
  width: 95%;
  min-height: 600px;
  height: 90vh;
  position: absolute;
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 5;
}

.LSMainDiv{
  width: 30%;
  height: 30%;
  margin: auto;
}

.SignInButton{
  transition: 0.5s;
  border: 1px groove rgb(9, 169, 9);
  color: rgb(9, 169, 9);
}

.SignInButton:hover{
  transform: translateY(-5px);
  background-color: rgb(35, 193, 35);
  color: white;
  font-size: 22px;
  box-shadow: -1px 2px 5px 1px rgb(35, 193, 35);
}

.SignUpButton{
  transition: 0.5s;
  border: 1px groove rgb(22, 80, 187);
  color: rgb(12, 9, 169);
}

.SignUpButton:hover{
  transform: translateY(-5px);
  background-color: rgb(35, 56, 193);
  color: white;
  font-size: 22px;
  box-shadow: -1px 2px 5px 1px rgb(64, 35, 193);
}

/********************************************************************/

.CenterFication{
  display: grid;
  place-items: center;
}

.DarkBG{
  background-color: #1a1a1a;
  color: white;
}

.DarkBG input{
  color: white;
}

.DarkBG div{
  border-color: white;
}

.DarkMD{
  background-color: #232323;
  box-shadow: 0px 0px 3px .1px black;
  color: rgb(210, 210, 210);
}

.DarkSD{
  background-color: #393939;
  box-shadow: 0px 0px 2px .1px black;
}

.DarkHD:hover{
  background-color: #404040;
}

.LightBG{

  background-color: #f0f0f0;
  color: black;
}

.LightBG input{
  color: black;
}

.LightBG div{
  border-color: black;
}

.LightMD{

  background-color: #ffffff;
  box-shadow: 0px 0px 3px .1px white;

}

.LightSD{

  background-color: lightgrey;
  box-shadow: 0px 0px 3px .1px white;

}

.LightHD:hover{
  background-color: rgb(235,235,235);
}

.RedMD{
  background-color: rgb(255, 51, 40);
  color: white;
}

.RedMD div{
  border-color: white;
}

.RedSD{
  background-color: rgb(219, 31, 31);
}

.RedHD:hover{
  background-color: rgb(204, 6, 6);
}

.BlueMD{
  background-color: #1d2574;
  color: white;
}

.BlueMD div{
  border-color: white;
}

.BlueSD{
  background-color: #042c9a;
}

.BlueHD:hover{
  background-color: #3456ff;
}

.GreenMD{
  background-color: #39ad30;
  color: white;
}

.GreenMD div{
  border-color: white;
}

.GreenSD{
  background-color: #2c9e1f;
}

.GreenHD:hover{
  background-color: #3fe32d;
}