.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/********************************************************************/

.CenterFication{
  display: grid;
  place-items: center;
}

.DarkBG{

  background-color: #1a1a1a;
  color: white;
}

.DarkMD{
  background-color: #232323;
  box-shadow: 0px 0px 3px .1px black;
}

.DarkSD{
  background-color: #393939;
  box-shadow: 0px 0px 2px .1px black;
}

.LightBG{

  background-color: #f0f0f0;
  color: black;
}

.LightMD{

  background-color: #ffffff;
  box-shadow: 0px 0px 3px .1px white;

}

.LightSD{

  background-color: lightgrey;
  box-shadow: 0px 0px 3px .1px white;

}