.ContriBaseDiv{
    width: 100%;
    min-width: 680px;
    min-height: 100vh;
    height: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NavOnContri{
    min-width: 680px;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    z-index: 10;
}
.ContriMainDiv
{
    width: 90%;
    min-height: 600px;
    height: auto;
    max-height: 850px;
    margin-top: 90px;
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 40px;
    margin-bottom: 20px;
}

.LeftArrowOnCMD ,.RightArrowOnCMD{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 22px;
    cursor: pointer;
    top: 50%;
    z-index: 10;
}

.LeftArrowOnCMD{
    right: 101%;
}

.RightArrowOnCMD{
    left: 101%;
}

.ProgressBarOnCMD{
    width: 100%;
    height: 100%;
}

.ProgressOnCMD{
    width: 100%;
    min-height: 100%;
    height: auto;
    max-height: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    grid-template-rows: 100%;
    place-items: center;
}

.SelectionONSTCORQOuter{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.SelectionONSTCORQ{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.SelectionOpsDivONSTCORQ{
    position: absolute;
    top: 120%;
    left: 0%;
    width: 270px;
    height: 70px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.SelectionOpsDivONSTCORQ div{
    width: 99%;
    text-indent: 10px;
    height: 30px;
}

.SubONSTCORQ{
    width: 40px;
    height:40px;
    position: absolute;
    left: 120%;
    /* font-size: 20px; */
    top: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.QuestConForm{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 30px;
    row-gap: 30px;
}

.SampleDescription{
    width: 100%;
    height: 700px;
    border: 1px groove;
}

.DescriptionOnQCF{
    width: 90%;
    height: 50%;
    /* border: 1px groove; */
}

.TopicSelectionOnQCF{
    width: 60%;
    height: 40px;
}

.SelectionOnQC{
    border-radius: 10px;
    position: relative;
    display: grid;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    font-size: 20px;
}

.OptionsOnQC{
    position: absolute;
    width: 100%;
    z-index:10;
    border-radius: 10px;
    overflow-y: auto;
}

.OptionsOnTSQCF{
    bottom: 110%;
    height: 470px;
}

.OptionsOnTSQCF div{
    width: 99%;
    text-indent: 10px;
    height: 30px;
}

.SelectedTopicsOnQCF{
    width: 90%;
    height: 100px;
    /* border: 1px groove; */
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto ;
    gap: 10px;
}

.SelectedTopicsOnQCF::-webkit-scrollbar{
    width: 10px;
}

.SelectedTopicsOnQCF::-webkit-scrollbar-thumb{
    border: 3px solid transparent;
    background-color: rgb(0, 0, 0,.4);
}

.SelectedTopicsOnQCF div{
    width: auto;
    height: 30px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding:3px 10px 3px 10px;
    font-size: 17px;
}

.QusetSolutionForm{
    width: 100%;
    height: 700px;
    /* border: 1px groove; */
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 30px;
    row-gap: 30px;
}

.SelectLangOnQSF{
    width: 60%;
    height: 40px;
}

.OptionsOnSLQSF{
    top: 110%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.OptionsOnSLQSF div{
    margin: 5px;
    width: 30%;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
}

.SolutionDivOnQSF{
    width: 90%;
    height: 500px;
    /* border: 1px groove; */
}

.SolutionDivOnQSF textarea{
    border: none;
    background: none;
    width: 96%;
    height: 96%;
    overflow-y: auto;
    color: inherit;
    padding: 10px;
    font-size: 18px;
}

.TestCaseForm{
    width: 100%;
    height: 90%;
    /* height: auto;
    max-height: 150%; */
    overflow-y: auto;
    /* display: grid; */
    position: relative;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.TestCaseChanger{
    width: 200px;
    height: 50px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    border-radius: 20px;
}

.TestCaseChanger span{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 21px;
    border-radius: 50%;
}

.TestCaseDone{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 40%;
    top: 0;
    display: grid;
    place-items: center;
    font-size: 20px;
    cursor: pointer;
}

.SubOnTCF{
    width: 100px;
    height: 40px;
    border-color: rgb(9, 169, 9);
    margin: auto;
    background: none;
    font-size: 18px;
}

.QusetSelectionOnTF{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.SelectQuestOnTF{
    width: 60%;
    height: 40px;
    margin-top: 50px;
}

.SelectQuestOnTF input{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.SelectQuestOnTF .OptionsOnQC{
    top: 110%;
    height: 300px;
    overflow-y: auto;
}

.SelectQuestOnTF .OptionsOnQC div{
    margin: 10px;
    padding-left: 10px;
}

.VariableIncreaser{
    width: 80px;
    height: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 5px;
}

.VariableIncreaser div{
    /* display: grid;
    place-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.TestCaseInputHolderDiv{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    margin-bottom: 20px;
}