.ContriBaseDiv{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NavOnContri{
    min-width: 910px;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    z-index: 10;
}
.ContriMainDiv
{
    width: 90%;
    height: 600px;
    margin-top: 90px;
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 40px;
}

.ProgressBarOnCMD{
    width: 100%;
    height: 100%;
}

.ProgressOnCMD{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.SelectionONSTCORQOuter{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.SelectionONSTCORQ{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.SelectionOpsDivONSTCORQ{
    position: absolute;
    top: 120%;
    left: 0%;
    width: 270px;
    height: 70px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.SelectionOpsDivONSTCORQ div{
    width: 99%;
    text-indent: 10px;
    height: 30px;
}

.SubONSTCORQ{
    width: 40px;
    height:40px;
    position: absolute;
    left: 120%;
    /* font-size: 20px; */
    top: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
}