.ContriBaseDiv{
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NavOnContri{
    min-width: 910px;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    z-index: 10;
}
.ContriMainDiv
{
    width: 90%;
    min-height: 600px;
    height: auto;
    max-height: 850px;
    margin-top: 90px;
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 40px;
    margin-bottom: 20px;
}

.LeftArrowOnCMD ,.RightArrowOnCMD{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 22px;
    cursor: pointer;
    top: 50%;
    z-index: 10;
}

.LeftArrowOnCMD{
    right: 101%;
}

.RightArrowOnCMD{
    left: 101%;
}

.ProgressBarOnCMD{
    width: 100%;
    height: 100%;
}

.ProgressOnCMD{
    width: 100%;
    min-height: 100%;
    height: auto;
    max-height: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    grid-template-rows: 100%;
    place-items: center;
}

.SelectionONSTCORQOuter{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.SelectionONSTCORQ{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.SelectionOpsDivONSTCORQ{
    position: absolute;
    top: 120%;
    left: 0%;
    width: 270px;
    height: 70px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.SelectionOpsDivONSTCORQ div{
    width: 99%;
    text-indent: 10px;
    height: 30px;
}

.SubONSTCORQ{
    width: 40px;
    height:40px;
    position: absolute;
    left: 120%;
    /* font-size: 20px; */
    top: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.QuestConForm{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 30px;
    row-gap: 30px;
}

.SampleDescription{
    width: 100%;
    height: 700px;
    border: 1px groove;
}

.DescriptionOnQCF{
    width: 90%;
    height: 50%;
    /* border: 1px groove; */
}

.TopicSelectionOnQCF{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    position: relative;
    display: grid;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    font-size: 20px;
}

.OptionsOnTSQCF{
    position: absolute;
    bottom: 110%;
    height: 470px;
    width: 100%;
    z-index:10;
    border-radius: 10px;
    overflow-y: auto;
}

.OptionsOnTSQCF div{
    width: 99%;
    text-indent: 10px;
    height: 30px;
}

.SelectedTopicsOnQCF{
    width: 90%;
    height: 100px;
    /* border: 1px groove; */
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto ;
    gap: 10px;
}

.SelectedTopicsOnQCF::-webkit-scrollbar{
    width: 10px;
}

.SelectedTopicsOnQCF::-webkit-scrollbar-thumb{
    border: 3px solid transparent;
    background-color: rgb(0, 0, 0,.4);
}

.SelectedTopicsOnQCF div{
    width: auto;
    height: 30px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding:3px 10px 3px 10px;
    font-size: 17px;
}