.FriendsBaseDiv{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NavOnFriends{
    min-width: 910px;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
}