.NavBarMainDiv{
    width: 100%;
    height: 50px;
    display: grid;
    font-size: 17px;
    grid-template-columns: 1fr 3.5fr 3fr;
}

.LogoOnNav{
    width: 100%;
    height: 100%;
    font-size: 28px;
    display: grid;
    cursor: pointer;
    place-items: center;
}

.LeftNavDiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.LeftNavDiv .NavItems{
    min-width: 100px;
    max-width: 200px;
    width: auto;
    height: 97%;
    display: grid;
    place-items: center;
    cursor: pointer;
    border: none;
    /* transition: all .5s ease; */
}

.LeftNavDiv .ActivePage{
    border-bottom:3px groove;
    color: white;
    font-size: 19px;
}

.RightNavDiv{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.RightNavDiv .NavItems{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.RightNavDiv .NItem-4,.RightNavDiv .NItem-3{
    position:relative;
}

.NItem-4 .ThemeSelector{
    position:absolute;
    top: 100%;
    padding:10px;
    border-radius: 10px;
    left: 0;
    z-index: 21;
    /* background-color: white; */
}

#LogInOnNavBar{
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5px 7px 5px 7px;
}

.UserOptionsOnNav{
    position:absolute;
    top: 100%;
    width: 250px;
    height: 40vh;
    min-height: 200px;
    padding:10px;
    border-radius: 10px;
    right: 0;
    z-index: 21;
    display: grid;
    grid-template-rows: 30% 70%;
    overflow-y: auto;
}

.TopDivOnUOON{
    width: 100%;
    height: 100%;
    /* border: 1px groove; */
    display: flex;
    justify-content: space-between;
}

.ImageHDOnTDOUDON{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.NameHDOnTDOUDON{
    width: 180px;
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 19px;
}

.BottomDivOnUOON{
    width: 100%;
    height: 100%;
    /* border: 1px groove; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.BottomDivOnUOON div{
    cursor: pointer;
}
