.ProblemsBaseDiv{
    width: 100%;
    min-height: 100vh;
    min-width: 680px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* margin-top: 100px; */
    
}

.NavOnProblems{
    min-width: 680px;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    z-index: 10;

}

.ProblemMainDiv{
    width: 90%;
    min-height: 600px;
    height: auto;
    margin: auto;
    /* border: 1px solid white; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content:space-evenly ;
    align-items: center;
    margin-top: 90px;
}
.problemheadfilter{
    /* border: 1px solid gold; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.searchprob{
    /* border: 1px solid white; */
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.searchprob input{
    font-size: 18px;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    /* color: white; */
    /* font-family: Poppins; */
    margin-left: 5px;
}
.searchprob svg{
    font-size: 25px;
    margin-left: 5px;
    padding: 5px;
}
.selectdifficulty{
    /* border : 1px solid gold; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.diffsec,.statussec{
    position: relative;
    padding: 5px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.diff-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    text-align: start;
    top: 110%;
    min-width: 100%;
    width: auto;
    border-radius: 10px;
    left: 0%;
}
.diff-menu label{
    width: var(100% - 20px);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
}

/* .ProblemrightMainDiv{
    border: 1px solid white;
    width: 30%;
    height: 300px;
} */





/* BodyBox Div */

.bodybox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* border : 1px solid white; */
    margin-top: 30px;
}

.bodyboxleft{
    width: 45%;
    /* border : 1px solid white; */
}
.probtopics{
    /* margin: 20px; */
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
}
#topicsdivtotalDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.topicsarrdiv{
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}







#bodyboxright{
    height: 600px;
    width: 100%;
    min-width: 400px;
    display: grid;
    /* border : 1px solid white; */
}

.probheadlist{
    width: 100%;
    height: 50px;
    /* border : 1px solid white; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /* text-align: center; */
    text-indent: 10px;
    border-radius: 5px;
    /* margin: 10px; */
    /* color:cyan; */
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    grid-template-rows: 100%;
}

.ProbHead{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.ProblemSetDiv{
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.topicsonProblemsHoldDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    align-items: center;
}

.topicsonProblemsHoldDiv .topicsonProblems{
    width: auto;
    height:25px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding-right: 10px;
    font-size: 15px;
}

.ProblemNameSpanOnPSD:hover{
    color:rgb(36, 36, 234);
    cursor: pointer;
}

.PageNavigatorMain{
    width: auto;
    margin: auto;
    margin-top: 50px;
    height: auto;
}

.PageNavigatorMain ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.PageNavigatorMain ul li{
    list-style-type: none;
    cursor: pointer;
    border-radius: 2px;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
}

.PageNavigatorMain ul li.PageDisable{
    opacity: 0.5;
    cursor:unset;
}
.PageNavigatorMain ul li.PageActive{
    color: gold;
}