.ProfileBaseDiv{
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: Mulish;
    position: relative;
}

.NavOnProfile{
    min-width: 910px;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
}

.Profiletop{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    column-gap: 100px;
    background-color: #E9E3D5;
}
.Profpic{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    margin-left: 500px;
    border-radius: 15px;
}
.ProfName{
    font-size: 21px;
    color: black;
}
.ProfileBottom{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    padding-bottom: 50px;
}
.ProfileMenu{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* margin-left: 300px; */
    width: 250px;
    height: 200px;
    margin-top: 50px;
    /* border: 1px solid white; */
    justify-content: center;
}
.BottomButton{
    width: 100%;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.5s ease-in;
}
.ProfileItem{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -80px;
    width: 600px;
    border-radius: 15px;
    padding-bottom: 30px;
    transition: 0.5s ease-in;
}
.FileInInfo{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    font-size: 1.2rem;
    width: 80%;
}
.FileInInfo input{
    margin-top: 5px;
    height: 35px;
    width: 450px;
    background: none;
    border: 2px solid gray;
    outline: none;
    font-size: 1rem;
    color: white;
}
.FileInInfo select{
    margin-left: 60px;
    height: 35px;
    width: 190px;
    background: none;
    border: 2px solid gray;
    outline: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.FileInInfo option{
    color: black;
}
.FileInInfo button{
    text-align: center;
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    height: 40px;
    border: 1.5px solid purple;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: purple;
    color: white;
}
.FileInInfo button:hover{
    color: purple;
    background: none;
}

.ChangePasswordOnProfile{
    width: max-content;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
}

.ChangePWDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px);
}

.ChangePassDiv{
    width: max-content;
    height: max-content;
    padding: 40px 10px;
    row-gap: 20px;
    border-radius: 20px;
    display: grid;
    place-items: center;
}