.SignBaseDiv{
    width: 100%;
    height: 100vh;
    min-width: 680px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    /* background-position-x: 40%; */
}

.SignMainDiv{
    min-width: max-content;
    width: 30%;
    height: 70vh;
    border-radius: 20px;
    display: grid;
    transition: all 1s ease;
}

.SignINUPMainDiv{
    width: 100%;
    height: 100%;
}

.LeftSIMD,.LeftSUMD{
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
.RightSIMD,.RightSUMD{
    width: 100%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}

.RightSIMD form,.LeftSUMD form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.SignMainDiv button{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}